
nav {
    background-color: grey;
    width: 100%;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
}

li {
    list-style: none;
}

.Container {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.lista {
    display: flex;
    gap: 20px;
    margin-bottom: 0;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1% 0;
    position: fixed;
    bottom: 0;
}

.centraliza{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.card-img-center {
    border-radius: 2% 2% 0px 0px;
}